<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form method="POST" action="/result">
    <label for="firstName">First name:</label><br>
    <input type="text" id="firstName" name="firstName">
    <br>
    <label for="lastName">Last name:</label><br>
    <input type="text" id="lastName" name="lastName">
    <br>
    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>